[Desktop Entry]
Name=OneNote
Exec=/PATH/linoffice.sh onenote %F
Terminal=false
Type=Application
Icon=/PATH/apps/onenote/icon.svg
StartupWMClass=Microsoft OneNote
Comment=Digital notebook for note-taking and organization of information.
Categories=Office
MimeType=application/msonenote;