[Desktop Entry]
Name=Outlook
Exec=/PATH/linoffice.sh outlook %F
Terminal=false
Type=Application
Icon=/PATH/apps/outlook/icon.svg
StartupWMClass=Microsoft Outlook
Comment=Email client and personal information manager for scheduling and communication.
Categories=Office
MimeType=application/vnd.ms-outlook;application/octet-stream;